.clubLogo {
    width: 30px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
}

.clubInfo {
    overflow: auto;
    background-image: linear-gradient(rgb(247, 252, 255), rgb(245, 250, 250));
    border-bottom: 1px solid #dddddd;
}

.widget {
    height: 320px;
}
.clubList {
    height: 250px;
    overflow-y: scroll;
}

.selectCaption {
    float: left;
}

.navbar {
    margin-bottom: 20px;
}